<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title SetList
    <!-- Compiled and minified CSS -->
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')

body
    header
        nav
            .nav-wrapper.container
                a.brand-logo(href="/") SetList
                ul.nav-mobile.right.hide-on-med-and-down
                    li
                        a(href="/start") Start Here
                    li
                        a(href="/lists") Lists

    block float
        if (!user)
            div.fixed-action-btn
                a.btn-floating.btn-large.blue-bg(href="/expand") #[i.large.material-icons add]

    block main

    footer
        .page-footer.center-align.dark-bg
            p a project by Tracy Spitler
            a(href='#') GitHub

    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
    script.
        $(document).ready(function() {
            $('select').material_select();
        });
