<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title SetList
    <!-- Compiled and minified CSS-->
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')

body
    header
        nav.deep-purple.darken-4
            .nav-wrapper.container
                a.brand-logo(href="/") SetList
                ul.nav-mobile.right.hide-on-med-and-down
                    li
                        a(href="/login") Login
                    li
                        a(href="/signup") Sign Up
    main
        .container
            block content
                <!-- Compiled and minified JavaScript-->
                script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    footer
        nav.deep-purple.darken-4
            .nav-wrapper.container
                p a project by Tracy Spitler
                a(href='#') GitHub
