<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title SetList
    <!-- Compiled and minified CSS -->
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')

body
    header
        nav
            .nav-wrapper.container
                a.brand-logo(href="/") SetList
                ul.nav-mobile.right.hide-on-med-and-down
                    if !user
                        li
                            a(href="/start") Start Here
                    else
                        li
                            a(href="/lists") Lists
                        li
                            a(href="/profile") Profile
                        li
                            a(href="/logout") Logout

    block float
        if (user)
            div.fixed-action-btn
                a.btn-floating.btn-large.blue-bg(href="/expand/#list") #[i.large.material-icons add]
                ul
                    li.card.pink.darken-1.white-text add

    block content

    footer
        .page-footer.center-align.dark-bg
            p a project by Tracy Spitler
            a(href='#') GitHub

    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
    script.
        $(document).ready(function() {
            $('select').material_select();
            
            // song form
            $('select').formSelect();
            
            // update list
            $("#editList").click(function(){
                $("#listUpdate").toggle();
            });
            
            // delete a list
            $("#deleteList").click(function(){
                var r = confirm("WAIT! This action can not be undone. Are you sure you want to delete this list?");
                if (r == true) {
                    $.ajax({
                        url: window.location.href,
                        method: 'delete'
                    }).done(function()  {
                        // redirect
                        window.location.href = "/lists";
                    }) 
                } 
            });
        });
