extends _layout

block content
    main#all-lists
        .container

            h1 Lists

            //- display lists
            div.container
            if lists
                strong FILTER LISTS
                input(type="search" id="searchLists" placeholder="Search for a specific list..")
                button#filters(class="modify btn new badge purple-bg" data-badge-caption="filter") Filters
                div#filter_difficulty_div(class="initiallyHidden input-field")
                    select(name="filter_difficulty" id="filter_difficulty")
                        option(value="0" disabled selected) Filter by difficulty
                        option(value="0") Clear
                        option(value="1") Easy
                        option(value="2") Moderate
                        option(value="3") Hard
                    label(class="filter-label" for="filter_difficulty") List Difficulty
                ul.lists#allLists
                    for list in lists
                        
                        if list.name == "Library"
                            li.col.s3
                                div#list-card.card.hoverable.collection
                                    div.card-image
                                        span.z-depth-2.card-badge.dark-bg #[i.material-icons.md-light.difficulty library_music] #{list.name}
                                    div.card-content.valign-wrapper
                                        h3.card-title All Songs
                                    div.card-action.collection-item.valign-wrapper
                                        div.underline
                                            a.dark.valign-wrapper(href="/lists/" + list._id) #[i.material-icons.dark graphic_eq] GO
                                        span.new.badge.right.number-of-songs(data-badge-caption="songs") 6
                            
                        else 
                            li.col.s3
                                div#list-card.card.hoverable.collection
                                    div.card-image
                                        span.z-depth-2.card-badge.dark-bg 
                                            if list.difficulty
                                                -var i = list.difficulty
                                                while (i--)
                                                    h5.difficulty-filter(style="display: none;") #{list.difficulty}
                                                    i.material-icons.md-light.difficulty.filter star
                                            else
                                                span #[i.material-icons.md-light.difficulty not_interested] not set
                                    div.card-content.valign-wrapper
                                        h3.card-title #{list.name}
                                    div.card-action.collection-item.valign-wrapper
                                        div.underline
                                            a.dark.valign-wrapper(href="/lists/" + list._id) #[i.material-icons.dark graphic_eq] GO
                                        span.new.badge.right.number-of-songs(data-badge-caption="songs") #{list.songs.length}
                            

                        
