extends _layout

block main
    main#all-lists
        .container

            h1 Set Lists
            
            div.left
                div.col
                    div#list-card.card.hoverable.collection
                        div.card-image
                            span.z-depth-2.card-badge.dark-bg #[i.material-icons.md-light.difficulty library_music] Library
                        div.card-content.valign-wrapper
                            h3.card-title All songs
                        div.card-action.collection-item.valign-wrapper
                            div.underline
                                a.dark.valign-wrapper(href="/lists") #[i.material-icons.dark graphic_eq] GO
                            span.new.badge.right(data-badge-caption="songs") 6
