extends _layout

block content
    main#auth
        .container.body
            div.valign-wrapper
                .row
                    .col
                    if (!user)
                        div#auth-card.card
                            div.card-content.center-align
                                h2 Welcome to SetList!
                                p Please log in or sign up below:
                            div.card-tabs
                                ul.tabs.tabs-fixed-width
                                    li.tab #[a(href="#login") Log In]
                                    li.tab #[a(class="active" href="#signup") Sign Up]
                            div.card-content.grey.lighten-4
                                div#login
                                    form.card-content(method='post', action='/login')
                                        div.center #[a(class="spotify-btn" href="/auth/spotify") Login with Spotify]
                                        h3.card-title.center or
                                        p Fill out the form below
                                        .input-field
                                            input(type='text', name='username', id="username")
                                            label(for="username") Username
                                        .input-field
                                            input(type='password', name='password', id="password")
                                            label(for="password") Password
                                        .input-field
                                            input.btn(type='submit', value='Log In!')
                                div#signup
                                    form.card-content(method='post', action='/signup')
                                        div.center #[a(class="spotify-btn" href="/auth/spotify") Sign Up with Spotify]
                                        h3.card-title.center or
                                        p Fill out the form below
                                        .input-field
                                            input(type='text', name='name', id="name")
                                            label(for="name") Name
                                        .input-field
                                            input(type='text', name='username', id="username", required="true")
                                            label(for="username") Username
                                        .input-field
                                            input(type='password', name='password', id="password", required="true")
                                            label(for="password") Password
                                        .input-field
                                            input.btn(type='submit', value='Sign Up!')
