extends _layout

block content
    main
        .container
            h1 Chord Search
            div
                strong Enter a Chord Name
                input(type="search" id="search-chords" placeholder="Search for a chord..")
                    
                div#Chords
