<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title SetList
    <!-- jQuery -->
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    <!-- Compiled and minified CSS -->
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')

body.grey.lighten-5
    header
        nav
            .nav-wrapper.container
                a.brand-logo(href="/") SetList
                ul.nav-mobile.right.hide-on-med-and-down
                    li
                        a(href="/login") Log In
                    li
                        a(href="/signup") Sign Up
    main#landing
        .container
            block content
                div.valign-wrapper.align-center
                    .row
                        .col
                        if (!user)
                            div.card
                                div.card-content.center-align
                                    h2 Welcome to SetList!
                                    p Please log in or sign up below:
                                div.card-tabs
                                    ul.tabs.tabs-fixed-width
                                        li.tab #[a(href="#login") Log In]
                                        li.tab #[a(class="active" href="#signup") Sign Up]
                                

    footer
        .page-footer.center-align
            p a project by Tracy Spitler
            a(href='#') GitHub
    
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.js")
