extends _layout

block content
    main
        .container
            h1 Metronome
            div
                strong Enter the BPM (beats per minute)
                input(type="number" id="bpm" placeholder="90" value="90" min="30" max="300")
                button(class="metronome modify btn new badge purple-bg") Start
                    
                div#Metronome
                    span#dot
                    
                
