<!-- DOCTYPE html -->
html(lang="en")
  head 
    meta(charset="utf-8")
    title 404
    //- MDBootstrap CSS
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" )
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" )
    link(href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" rel="stylesheet")
    //- Custom CSS
    link(rel='stylesheet', href='/css/custom.css', type='text/css')

  body#notFound
    div(class="text-white text-center notFound")
      h1 Whoops!
      p Something went wrong.
      a(class="btn blue-gradient" href="/") Go Home
