extends _layout
block content
    h1 Profile
    ul.collection
        li.collection-item
            strong ID: #{user._id }
        li.collection-item
            strong Username: #{user.username}
        li.collection-item
            strong Name: #{user.name}
