/*blue: rgb(79,247,234)*/
/*dark: rgb(10,12,39)*/

.dark {
    color: #0A0C27 !important;
}

.dark-bg {
    background-color: #0A0C27;
}

/******************* main sections *******************/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F6F7F9;
}

main {
    flex: 1 0 auto;
}

#landing {
    background-image: url("/images/guitarist.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-footer {
    padding: 1rem;
    background-color: #0A0C27;
}

/******************* navigation *******************/

nav {
    background-color: #0A0C27;
}

nav.a {
    color: white;
}

a:hover {
    color: #4FF7EA !important;
}

.btn {
    background-color: #6B6C7D;
}

.btn:hover {
    background-color: #0A0C27;
    opacity: 1;
}

/******************* content *******************/

.card {
    border: none;
}

#landing-card.card {
    min-width: 350px;
    width: 50vw;
    margin-top: 2rem;
}

/******************* tab modifications *******************/

/* default */
.tabs .tab a {
   color: rgba(10, 12, 39, .2);
}

/* default and active */
.tabs .tab a.active {
    background-color: rgba(79, 247, 234, .2);
    color: #0A0C27;
}

/* hover */
.tabs .tab a:hover{
   color: #0A0C27 !important;
}

/* focused */
.tabs .tab a:focus{
    background-color: rgba(79, 247, 234, .2);
    color: #0A0C27;
}

/* focused and active */
.tabs .tab a:focus.active {
    background-color: rgba(79, 247, 234, .2);
    color: #0A0C27;
}

/* indicator line  */
.tabs .indicator {
    background-color: #4FF7EA;
}

/******************* lists *******************/

#list-card {
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

#list-card:hover a.dark {
    opacity: 1;
    color: #0A0C27;
}

#list-card:hover i.dark {
    opacity: 1;
    color: #4FF7EA !important;
}

.card-badge {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 0.2em 24px 0.8em 24px;
    color: #fff;
    z-index: 2;
}

.difficulty {
    position:relative;
    margin-right: 8px;
    top: 7px;
}

.collection-item {
    justify-content: space-between;
}

a.dark {
    opacity: 0;
}

span.new.badge {
    background-color: #0A0C27;
    opacity: .2;
}

div.card-content.valign-wrapper {
    flex-grow: 3;
}

div.card-action.collection-item.valign-wrapper {
    height: 2rem;
    flex-grow: 1;

}
